@import url(./style-main.css);

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff'),
         url('../fonts/Raleway-Italic-VariableFont_wght.woff'),
         url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');  
}

body {
    background-color: #d1d1d1;
    max-width: 1160px;
    margin: auto;
}

header{
    font-family: 'Lato', sans-serif;
}

.icons p {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #17abb3;
    padding: 20px;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: zoom-in;
}

.header-text {
    text-align: center;
    color: white;
}

.header-text h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-text h2 {
    margin-top: 5px;
}

.icons {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    margin: auto;
}

.icons i {
    padding-right: 5px;
}

.icons p {
    flex-basis: 40%;
    margin: 5px;
    text-align: left;
    font-weight: lighter;
}

.icons a {
    text-decoration: none;
    color: white;
}